<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/mystyle.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'posts/img/snowman-16-189339.png' %}">
        <title>PyGram</title>
    </head>

    <body>
        <div class="header">
            <a href="/">PyGram</a>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>